.about-container {
  --black: #1e1f1e;
  --light-gray: #999e99;
  --white-offset: ;
  --orange: #f2673d;
  --royal-blue: #42658a;
}

.aboutPicture {
  margin: 0 auto;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border-width: 1px;
  border-color: var(--white-offset);
  border-style: solid;
}
