.navContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.navLinks {
    color: var(--white-offset);
    font-family: 'Work sans', sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-decoration: none;
    margin: 10px 15px 10px 15px;
    padding-left: 7px;
    padding-right: 7px;
}

.navLinks:hover {
    background-color: var(--white-offset);
    color: var(--black);
    font-weight: 300;
    border-style: none;
}