.navContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.navLinks {
  color: var(--white-offset);
  font-family: 'Work sans', sans-serif;
  font-weight: 200;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-width: 0;
  border-style: none;
}

.navLinks:hover {
  background-color: var(--white-offset);
  color: var(--black);
  font-weight: 200;
  border-style: none;
  padding: 10px 15px 10px 15px;
  border-width: 0;
}
