@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


html,
body {
  --black: #1E1F1E;
  --white-offset: #F9F9E5;
  --orange: #F2673D;
  --royal-blue: #42658A;
  background-color: var(--black);
  color: var(--white-offset);
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

a {
  color: var(--orange);
  text-decoration: underline;
  padding: 1px
}
a:hover {
  text-decoration: none;
  border-style: solid;
  border-width: 0.4px;
  border-color: var(--orange);
}
footer {

}

* {
  box-sizing: border-box;
}
